/* universal selectors*/
*{
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				color: #111;
				font-family: Poppins, 'sans-serif';
				scroll-behavior: smooth;
}
/*navheader start*/
.navbar__header{
			    display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: 10px 20px;
				height: auto;
				background: #293855;
				position: fixed;
				top: 0;
				z-index: 1;
}
header{
	user-select: none;
}
.nav__menu{
				display: flex;
}
ul li{
				list-style: none;		
				cursor: pointer;
				margin: 0.5rem;		
}
/*nav items link*/
ul li a {
	text-decoration: none;			
	color: #556fff;
	font-size: 1rem;
}
.navbar__header h1{
				color: crimson;
}
.sidenav a{
	text-decoration: none;
	color: #556fff;
	display: inline-block;
	margin: 0.4rem;
}
/*navheader exit*/

/* primary container start*/
.primary__container{
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 10rem 0rem 0.5rem 1rem;
				background: #293855;
				overflow: hidden;
				width: 100vw;
				height: auto;
				user-select: none;
}
.primary__subcontainer{
				align-self: start;
}
div + img{
	width: 400px;		
	height: 400px;	
	object-fit: cover;
	animation-name: movebounce;
	animation-delay: 100ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
}
div.primary__container h2, p#remark{
				color: #fff;
				text-align: left;
				max-width: 800px;
}
/*primary container exit*/

/*container start*/
.container{
				background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.6)), url(images/img.jpg);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100vw;
				height: auto;
				padding: 1rem;
}
.container__wrapper h2, p{
			color: #fff;	
			padding: 0.5rem 0 0 0;
}
.container__wrapper h2{
				font-size: 1.5rem;
				padding-top: 1rem;
}
label{
				color: #fff;
				display: block;
				margin-left: 15px;
				display: none;
}
input{
				padding: 0.5rem;
				margin: 1rem;
				display: block;
				width: 100%;
}
input:focus{
				outline: none;
				border: 1px solid crimson;
}
.form__content{
				display: flex;
				flex-direction: row-reverse;
				justify-content: center;
				gap: 5.9rem;
				align-items: center;
}
#img{
				width: 400px;
}
input[type="submit"]{
				background: crimson;
				width: 100%;
				height: auto;
				border: none;
				color: #fff;
				display: block;
}
#submit{
				width: 100%;
}

form{
	padding: 1rem 0 0 0;			
}
#email__input{
	display: block;
	width: 50vw;
	}
/*container exit*/

/*card start*/
.cards{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
}
.card__item{
				margin: 1rem;
				width: 400px;
				height: 200px;
				background: #293855;
				padding: 1rem;
				position: relative;
}
h2, p{
				text-align: center;
}
.card__item > span{
				background: crimson;
				text-fill-color: transparent;
				background-clip: text;
				background-size: cover;
				background-image: linear-gradient(180deg, darkorange, crimson);
	 -moz-background-clip: text;
  -ms-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
   font-size: initial;
   font-weight: bold;
   text-align: center;
}
				
.card__item:first-child, .card__item:last-child{
		background: crimson;
}
span a{
				display: block;
				color: #fff;
				padding: 0.5rem 1rem;
				background: crimson;
				text-decoration: none;
				width: fit-content;
				margin: 1rem 0 0 0;
				font-size: initial;
				overflow: auto;
}
/*card exit*/

/*newsletter start*/
.newsletter__content h2{
			text-align: center;	
			padding: 1rem 1rem;
}
.newsletter__wrapper{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				align-items: center;
				padding-bottom: 2rem;
}
.newsletter__content{
				padding: 2rem 0rem;
}
#submit{
				border-radius: 20px;
				width: 100%;
}
/*newsletter exit*/

/*image wrapper start*/
.img__wrapper{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
}
.img__item img{
				width: 300px;
				height: 200px;
				object-fit: cover;
				margin: 1rem;
				transition: all 0.3s ease;
}
.img__content > h2{
				text-align: center;
				color: #fff;
				padding-bottom: 1rem;
}
.img__content{
				background: #000;
				padding: 1rem;
				width: 100vw;
}
.img__item{
	cursor: pointer;
	transition: all 0.9s ease-in;
}
.img__item:hover{
	transform: translateY(-20px);
}
/*image wrapper exit*/

.footer__content{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 2fr 2fr 2fr;
				justify-items: center;
				align-items: center;
				height: 20vh;
}
span{
				display: block;
				color: #fff;
				margin: auto;
				padding-left: auto;
}
.footer__wrapper h2{
				text-align: center;
				color: #fff;
				padding: 1rem;
}
.footer__wrapper{
				background: #000;
				height: auto;
				width: 100vw;
}
h4{
				color: #fff;
				padding: 1rem;
				font-weight: bold;
				
}
/*footer wrapper exit*/


/*footer copy start*/
.footer__copy{
				background: #000;
				width: 100vw;
}
.footer__copywrapper p{
				color: #fff;
}
.footer__copywrapper p span{
				display: initial;
}
.heading{
				font-weight: bold;
				padding-bottom: 0.5rem ;
}
/*footer copy exit*/


/*Media Queries For Mobile Screens*/
@media screen and (max-width: 768px){
		.navbar__header{
					flex-direction: column;	
					justify-content: center;
					align-items: center;
		}		
		.primary__container{
					flex-direction: column;	
					text-align: center;
					padding: 11rem 4rem 1rem 4rem;
		}
		div + img{
						width: 300px;
						height: auto;
						padding-bottom: 1rem;
						padding-top: 2rem;
		}
		 p#remark{
						font-weight: lighter;
						padding-top: 0.5rem;
		}
		div.primary__container h2, p#remark{
				text-align: center;
}
.form__content{
				flex-direction: column;
				gap: 20px;
}
#img{
				width: 300px;
				height: 300px;
				object-fit: cover;
}
.nav__menu{
				gap: 1rem;
}
span a{
				margin: 1rem auto;
}
.newsletter__wrapper{
			flex-direction: column;
}
#submit{
				border-radius: 0px;
				width: 50vw;
}
.newsletter__content h2{
			padding: 0rem;
}
.footer__content{
				grid-template-columns: 2fr 2fr 1fr;
				grid-gap: 20px;
				height: auto;
}
span{
				font-size: 0.5rem;
}
.footer__copywrapper p{
				font-size: 0.5rem;
}
.container__wrapper h2, p{
			text-align: center;
}
.card__item > span{
				text-align: center;
}
}

/*Media Queries For Large screens*/
@media screen and (max-width: 1298px){

}